@{
    ViewBag.Title = "APP Logistics";
}
<h2>@ViewBag.Title</h2>

<h3>Quiénes somos</h3>
<p style="text-align:justify">
    <strong>APP Logistics</strong> es una empresa colombiana que nace a partir de las necesidades de varios operadores logísticos que encuentran oportunidades de mejora en procesos
    tales como el cargue o descargue de mercancia, toma de inventarios, personal especializado en reportes a través de herramientas tecnológicas, soporte para las
    áreas de servicio al cliente, operaciones de empaque secundario y los diferentes eslabones que componen la cadena de abastecimiento de almacén y distribución
    de mercancías.
</p>

<h3>Misión</h3>
<p style="text-align:justify">
    Prestar un servicio de óptima calidad a cada uno de nuestros clientes y usuarios satisfaciendo sus requerimientos y necesidades, soportado en un equipo
    humano idóneo y con las herramientas y recursos técnicos adecuados que garanticen la calidad de nuestra labor.
</p>

<h3>Visión</h3>
<p style="text-align:justify">
    Estar dentro de las 20 primeras empresas dentro del sector durante los próximos 10 años ofreciendo un servicio con excelencia operacional y óptima calidad,
    adecuándose a los cambios exigidos por el mercado y utilizando los recursos que día a día brinde el mundo moderno.
</p>


<h3>Valores corporativos</h3>
<ul>
    <li>Ajuste al marco legal</li>
    <li>Mejoramiento continuo</li>
    <li>Ética y honestidad</li>
    <li>Compromiso</li>
    <li>Trabajo en equipo</li>
    <li>Seguridad y prevención del riesgo</li>
</ul>




