@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title.</h2>
<br />
<br />

<img src="http://www.applogistics.com.co/images/app_logo.png" />
<br />
<br />
<br />

<a href="https://twitter.com/applogistics_co" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @@applogistics_co</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<br />
<br />

<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAppLogistics%2F&width=400&layout=standard&action=like&size=large&show_faces=true&share=true&height=60&appId" width="400" height="60" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<address>
    <abbr title="Teléfono"><strong>PBX:</strong></abbr> <a href="tel:+5714045810">(571) 404 58 10</a>
</address>

<address>
    <strong>Información:</strong>  <a href="mailto:info@applogistics.com.co">info@applogistics.com.co</a><br />
</address>