@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>APP Logistics</h1>
    <p class="lead text-justify">
        Es una empresa colombiana que nace a partir de las necesidades de varios operadores logísticos que encuentran oportunidades de mejora en procesos
        tales como el cargue o descargue de mercancia, toma de inventarios, personal especializado en reportes a través de herramientas tecnológicas, soporte para las
        áreas de servicio al cliente, operaciones de empaque secundario y los diferentes eslabones que componen la cadena de abastecimiento de almacén y distribución
        de mercancías.
    </p>
    <p><a href="http://www.applogistics.com.co/" class="btn btn-primary btn-lg">Conócenos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Operaciones de cargue y descargue</h2>
        <ul>
            <li>Persona fijo mensual</li>
            <li>Turnos (Diurno - Nocturno)</li>
            <li>Por vehículo</li>
            <li>Por horas laboradas</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Suministro de personal</h2>
        <ul>
            <li>Entregas certificadas</li>
            <li>Servicio al cliente</li>
            <li>Toma de inventarios</li>
            <li>Preinspecciones de Mercancías</li>
            <li>Clasificaciones de Mercancías, etc</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Procesos de Empaque o Maquila</h2>
        <ul>
            <li>Etiquetado</li>
            <li>Armado de promociones</li>
            <li>Colocación de sistemas de seguridad</li>
            <li>Termosellado</li>
            <li>Termoencogido, etc</li>
        </ul>
    </div>
</div>