@{
    ViewBag.Title = "Dirección confirmada";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar la dirección de correo. Ya puedes @Html.ActionLink("iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
