@{
    ViewBag.Title = "Registro de usuario confirmado";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Un nuevo usuario se ha registrado correctamente. La persona debe confirmar su correo para poder iniciar sesión.
    </p>
</div>

